header {
  display: flex;
  justify-content: flex-end;
}

header > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background: none;
  border: 2px dotted;
  border-radius: 50%;

  font-size: 1.8rem;
}

header > button:hover {
  cursor: pointer;
}

.dark-theme button {
  background-color: hsl(0, 0%, 4%);
  color:hsl(0, 0%, 96%);
}

.light-theme button {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 4%);
}