header {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

header > button {
  padding: 5px;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 1.8rem;
  outline: dotted;
}

header > button:hover {
  cursor: pointer;
}

.dark-theme button {
  background-color: hsl(0, 0%, 4%);
  color:hsl(0, 0%, 96%);
}

.light-theme button {
  background-color: hsl(0, 0%, 96%);
  color: hsl(0, 0%, 4%);
}