header {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  padding: 20px 0;
}

.switchTheme {
  padding: 10px;
  background: none;
  border-radius: 50%;
  font-size: 1.8rem;
}